<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= siteSettings.global?.['site-prefix'] || 'Documentation' %></title>
  <style>
    :root {
      --highlight-color: <%= siteSettings.global?.['highlight-color'] || '#4fc3f7'%>; 
    }
  </style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.9/katex.min.js" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/atom-one-dark.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/boxicons.min.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="icon" href="<%= siteSettings.global?.['site-favicon'] || '/assets/favicon.ico' %>">
  <meta name="description" content="<%= siteSettings.meta?.['meta-description'] || '' %>">
  <!-- Facebook meta -->
  <meta property="og:title" content="<%= siteSettings.meta?.['facebook-title'] || '' %>">
  <meta property="og:description" content="<%= siteSettings.meta?.['facebook-description'] || '' %>">
  <meta property="og:url" content="<%= siteSettings.meta?.['facebook-url'] || '' %>">
  <meta property="og:type" content="<%= siteSettings.meta?.['facebook-type'] || 'website' %>">
  <meta property="og:image" content="<%= siteSettings.meta?.['facebook-image'] || '' %>">
  <!-- Twitter meta -->
  <meta name="twitter:card" content="<%= siteSettings.meta?.['twitter-card'] || '' %>">
  <meta name="twitter:domain" content="<%= siteSettings.meta?.['twitter-domain'] || '' %>">
  <meta name="twitter:url" content="<%= siteSettings.meta?.['twitter-url'] || '' %>">
  <meta name="twitter:title" content="<%= siteSettings.meta?.['twitter-title'] || '' %>">
  <meta name="twitter:description" content="<%= siteSettings.meta?.['twitter-description'] || '' %>">
  <meta name="twitter:image" content="<%= siteSettings.meta?.['twitter-image'] || '' %>">
</head>
<body>
  <nav class="navbar">
    <div class="nav-left">
      <a href="/"><%= siteSettings.navbar?.['home-button']%></a>
    </div>
    <div class="nav-middle">
      <span>Home</span>
    </div>
    <div class="nav-right">
      by <a href="https://github.com/SkajpCZ" target="_blank"  style="color: var(--highlight-color)">Skajp</a> | <a href="https://github.com/SkajpCZ/docsmark" target="_blank" style="color: var(--highlight-color)"><%= VERSION %></a>
    </div>
  </nav>

  <aside class="sidebar" id="sidebar">
  <% for (let category in categories) { %>
        <h2><a href="/<%= category %>"><i class="fa-solid fa-folder" style="font-size: 0.85em;"></i> <%= category %></a></h2>
      <ul>
      <% categories[category].forEach(file => { %>
          <li>
          <a href="/<%= category %>/<%= file.file %>">
              <% if (file.icon) { %>
              <i class="<%= file.icon %>"></i>
              <% } else { %>
              <i class="fa-solid fa-file-lines"></i>
              <% } %>
              <%= file.title %>
          </a>
          </li>
      <% }) %>
      </ul>
  <% } %>
  </aside>

  <main class="content">
    <div class="doc-content">
      <br>
      <h1 class="doc-title"><%= siteSettings.homepage?.title || 'Official documentation' %></h1>
      <h3><%= siteSettings.homepage?.description || 'This is official documenation for simple markdown docs' %></h3>
      <div class="categories">
        <% for (let category in categories) { %>
          <div class="<%= category %>-category">
            <h2><i class="fa-solid fa-folder-open" style="font-size: 0.85em;"></i> <%= category %></h2>
            <ul>
              <% categories[category].forEach(file => { %>
                <li>
                  <a href="/<%= category %>/<%= file.file %>">
                    <% if (file.icon) { %>
                      <i class="<%= file.icon %>"></i>
                    <% } else { %>
                      <i class="fa-solid fa-file-code"></i>
                    <% } %>
                    <%= file.title || file.file %>
                  </a>
                </li>
              <% }) %>
            </ul>
          </div>
        <% } %>
      </div>
    </div>
  <footer>
    <p style="user-select: none;text-align: center;margin-top: 80px;">Skajp © 2025</p>
  </footer>
</main>
  <script>
    const root = document.documentElement;
    const hexColor = getComputedStyle(root).getPropertyValue('--highlight-color').trim();
    function hexToRgb(hex) {
      hex = hex.replace(/^#/, '');
      if (hex.length === 3) {
        hex = hex.split('').map(c => c + c).join('');
      }
      const bigint = parseInt(hex, 16);
      const r = (bigint >> 16) & 255;
      const g = (bigint >> 8) & 255;
      const b = bigint & 255;
      return [r, g, b];
    }
    const [r, g, b] = hexToRgb(hexColor);
    const rgbString = `${r}, ${g}, ${b}`;
    root.style.setProperty('--highlight-color-rgb', rgbString);
  </script>

</body>
</html>
